.detail-container {
    min-height: 100vh;
    background-color: #ECD3EF;
    width: 80vw;
    margin-top: 4vh;
    margin-bottom: 4vh;
    overflow-y: scroll;
    -webkit-box-shadow: 1px 2px 22px 0px rgba(0,0,0,0.64);
    -moz-box-shadow: 1px 2px 22px 0px rgba(0,0,0,0.64);
    box-shadow: 1px 2px 22px 0px rgba(0,0,0,0.64);
}
.detail-container .row {
    width: 80vw;
    padding: 0;
    margin: 0;
}
*::-webkit-scrollbar { 
    display: none; 
}
.detail-container::-webkit-scrollbar { 
    display: none; 
}
#contactform{
	height: 65vh;
	display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#contacthead{
    margin-left: 22vw;
    font-size: 2em;
    align-self: flex-start;
    margin-bottom: 4vh;
}
#movebutton{
    margin-top: 3vh;
    margin-left: 39.8vw;
}
.rsvp-btn {
    position: absolute;
    top: 4vh;
    right: 10vw;
    z-index: 4;
}
.detail-profile-item {
    background-color: #E7C6AE;
    height: 40vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
.detail-profile-item img {
    max-width: 65%;
    max-height: 65%;
    border-radius: 50%;
}
.detail-profile-item-text {
    background-color: #E7C6AE;
    height: 40vh;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
}
.break-word {
    word-wrap: break-word;
  }
.text-indent {
    margin-left: 2em;
}
.MultiCarousel { float: left; overflow: hidden; padding: 15px; width: 100%; position:relative; }
.MultiCarousel .MultiCarousel-inner { transition: 1s ease all; float: left; }
    .MultiCarousel .MultiCarousel-inner .item { float: left;}
    .MultiCarousel .MultiCarousel-inner .item > div { text-align: center; padding:10px; margin:10px; background:#f1f1f1; color:#666;}
.MultiCarousel .leftLst, .MultiCarousel .rightLst { position:absolute; border-radius:50%;top:calc(50% - 20px); }
.MultiCarousel .leftLst { left:0; }
.MultiCarousel .rightLst { right:0; }

    .MultiCarousel .leftLst.over, .MultiCarousel .rightLst.over { pointer-events: none; background:#ccc; }
.MultiCarousel-inner .item .pad15 img {
    max-width: 12vw;
    height: 35vh;
}
.pad15 {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 35vh;
    width: 12vw;
    padding: 0;
}
.carousel-section {
    background-color: white;
}
.detailview-map {
    width: 80vw;
    height: 60vh;
    display: flex;
    justify-content: center;
    align-items: center;
}