
@media only screen and (max-width: 500px) {
    .rsvp-btn-listview {
        display: none;
    }
    .rsvp-btn-listview-top {
        display: inline !important;
        position: absolute;
        top: 0;
        right: 0;
    }
}
.main-list {
    height: calc(84vh - 2em);
    width: 75vw;
    background-color: #f0f7f4;
    border: 1px solid black;
    overflow-y: scroll;
    margin: auto;
    padding: 1em;
    margin-top: 2em;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.main-list .grouping {
    padding: 2em;
    padding-left: 3em;
    padding-right: 3em;    
    overflow-y: hidden;
}
.main-list .grouping .item {
    height: 30vh;
    padding: 0;
    background-color: #DEF2F1;
    border: 1px solid black;
    color: #17252A;
    
}

.rsvp-btn-listview {
    position: absolute;
    top: 0;
    right: 0;
}

 .main-list::-webkit-scrollbar { 
    display: none; 

}
.rsvp-btn-listview-top {
    display: none;
}
.soc {
    padding-left: 5em;
}


.list-item-border {
    border: 1px solid black;
    border-bottom: none;
}








#ussprofile {
    height: 100%;
    width: 100px;

}

.img-circle {
    border-radius: 50%;
    height: 100vh; 
    width: 20vw;
    float: left;
}





