html,body{ 
    margin:0;
    padding:0;
    border:0;
    min-height: 100%;
    
}
*::-webkit-scrollbar { 
    display: none; 
}
a,a:visited,a:hover,a:active {
    color: black;
    text-decoration: none;
}
img {
    user-select: none;
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -o-user-select: none;
}

.btn:focus,.btn:active {
    outline: none !important;
    box-shadow: none;
 }
.container-fluid {
    min-height: 100%;
}
#ussnav {
    height: 9vh;
    background-color: #d8c3a5;
}
#ussnav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    height: 100%;
    width: 100vw;
}

#ussnav ul li {
    height: 100%;

    display: flex;
    justify-content: center;
    align-items: center;
    
}
#ussnav ul li:first-child {
    width: 8vw;
    display: flex;
    align-items: center;
    justify-content: center;
}
#ussnav ul li:first-child img {
    margin-top: .3vh;
    height: 6.5vh;
  }
#nav-spacer {
    flex: 10;
}
#profile-section {
    min-width: 7vw;
}
#socialicons-nav {
    height: 9vh;
    margin-right: 2vw;
    /* background-color: darksalmon; */
    align-self: flex-start;
}
#socialicons-nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    padding-right: 1vw;
    overflow: hidden;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    width: 18vw;
    height: 100%;
}

#socialicons-nav ul i {
    margin-right: .5vw;
}
#profile-section img {
    height: 7vh;
    width: 7vh;
    border-radius: 2em;
  }

#ussnav ul li:last-child button{
    background-color: transparent !important;
    margin-right: 1vw;
    border: none;
    width: 3.5vw;
    height: 3.5vw;
    border-radius: 50%;
    
  }
  #ussnav ul li:last-child button:hover {
    background-color: #ECE6E6 !important;
    width: 3.5vw;
    height: 3.5vw;
    border-radius: 50%;
  }
  #profile-section .card {
      background-color: transparent !important;
      border: 0 !important;
      margin: 0 !important;
      padding: 0 !important;
      color: #3c493f;
      
  }
  #profile-section .card .card-body {
      display: flex;
      align-items: center;
      justify-content: center;
      font-family: 'Roboto Condensed', sans-serif;
  }
.nopadding {
    padding: 0;
}

.ussbody {
    min-height: 84vh;
    background-color: #F8FFFC;
    display: flex;
    flex-direction: column;
}
#usssocialicons {
    height: 8vh;
    /* background-color: darksalmon; */
    padding-top: 2vh;
    align-self: flex-start;
}
#usssocialicons ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    padding-right: 1vw;
    overflow: hidden;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    width: 100vw;
    height: 80%;
}
#usssocialicons ul i {
    margin-right: .5vw;
}
#searchbar-nav {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    height: 9vh;
    width: 30vw;
}
#searchbar-nav .input-group {
    margin-left: 25vw;
    width: 80%;
}
#usssearchbar {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    height: 37vh;
    width: 100vw;
}
#usssearchbar .input-group {
    max-width: 50%;
}
#nav-switch{
    width: 10vw;
    height: 9vh;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 3vw;
}
#nav-switch .btn-group button {
    color: black;
    background-color: white;
    border: 1px solid black;
    padding-left: 1em;
    padding-right: 1em;
}
#nav-switch .btn-group button:hover {
    color: #534D4D;
    background-color: #B7A4A4;
    border: 1px solid black;
}
#nav-switch .btn-group button a {
    text-decoration: none;
    font-weight: bold;
    color: #100D0D;
}
#ussfooter {
    height: 7vh;
    background-color: #D8D5CA;
    display: flex;
    align-items: center;
    justify-content: center;
}
.footerlist {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    min-width: 65vw;
    font-size: 1em;
}
.footerlist > li:last-child {
    display: flex;
    flex-direction: row;
    height: 60%;
    margin-top: 3px;
    
}
.tab-active {
    background-color: #7491E5 !important;
    color: #A77575 !important;
}
input:focus,
select:focus,
textarea:focus,
button:focus {
    outline: none !important;
}
#rsvp-modal {
    position: absolute;
    
}
.modal-dialog {
    min-width: 50vw;
    min-height: 50vh;
}
.rsvp-form-padding {
    padding-right: 5vw;
    padding-bottom: 2vh;
}
.rsvp-form-end-padding {
    padding-left: 5vw;
    padding-bottom: 2vh;
}
.modal-body {
    padding-left: 3em;
    padding-right: 3em;
}
.hvr-fade {
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px transparent;
    overflow: hidden;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-property: color, background-color;
    transition-property: color, background-color;
  }
  .hvr-fade:hover, .hvr-fade:focus, .hvr-fade:active {
    background-color: #93AFBC;
    color: white;
  }
  @-webkit-keyframes hvr-pulse {
    25% {
      -webkit-transform: scale(1.1);
      transform: scale(1.1);
    }
    75% {
      -webkit-transform: scale(0.9);
      transform: scale(0.9);
    }
  }
  @keyframes hvr-pulse {
    25% {
      -webkit-transform: scale(1.1);
      transform: scale(1.1);
    }
    75% {
      -webkit-transform: scale(0.9);
      transform: scale(0.9);
    }
  }
  .hvr-pulse {
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px transparent;
  }
  .hvr-pulse:hover, .hvr-pulse:focus, .hvr-pulse:active {
    -webkit-animation-name: hvr-pulse;
    animation-name: hvr-pulse;
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-timing-function: linear;
    animation-timing-function: linear;
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
  }