@media only screen and (max-width: 500px) {
    #nav-spacer {
        display: none !important;
    }
    .detail-hidden {
        display: none !important;
    }
    
}
html,body{ 
    margin:0;
    padding:0;
    border:0;
    min-height: 100%;
    
}
*::-webkit-scrollbar { 
    display: none; 
}
a,a:visited,a:hover,a:active {
    color: black;
    text-decoration: none;
}
img {
    user-select: none;
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -o-user-select: none;
}

.btn:focus,.btn:active {
    outline: none !important;
    box-shadow: none;
 }
.container-fluid {
    min-height: 100%;
}
#ussnav {
    height: 9vh;
    background-color: #FFFFFB;
    -webkit-box-shadow: inset 0px -5px 16px -1px rgba(0,0,0,0.29);
    -moz-box-shadow: inset 0px -5px 16px -1px rgba(0,0,0,0.29);
    box-shadow: inset 0px -5px 16px -1px rgba(0,0,0,0.29);
    Font-Family: 'Roboto Condensed', Sans-Serif;
}
#ussnav > div {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    height: 100%;
    width: 100vw;
}
#ussnav > div > div {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
#ussnav-logo {
    padding-left: 1vw;
    height: 9vh;
}
#ussnav-logo img {
    margin-top: .3vh;
    height: 6.5vh;
  }
#nav-spacer {

}
#nav-spacer-2 {
}
#profile-section {
    
}
#socialicons-nav {
    height: 9vh;
}
#socialicons-nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    
    overflow: hidden;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    width: 100%;
    height: 100%;
}

#socialicons-nav ul i {
    margin-right: .5vw;
}
#profile-section .card .card-body img {
    height: 6vh;
    width: 6vh;
    border-radius: 2em;
  }

#nav-setting {
    margin-left: 1vw;
}
#nav-setting button{
    background-color: transparent !important;
    border: none;
    width: 3.5vw;
    height: 3.5vw;
    border-radius: 50%;
    display: flex;align-items: center;justify-content: center;
  }
  #nav-setting button:hover {
    background-color: #F3E2E2 !important;
    width: 3.5vw;
    height: 3.5vw;
    border-radius: 50%;
  }
  #profile-section .card {
    background-color: transparent !important;
    border: 0 !important;
    margin: 0;
    background-color: skyblue;
    padding: 0 !important;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    color: #3c493f;
    width: 100%;
      
  }
  #profile-section .card .card-body {
    padding: 0 !important;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Roboto Condensed', sans-serif;
  }
.nopadding {
    padding: 0;
}

.ussbody {
    min-height: 84vh;
    background-image: -ms-linear-gradient(top left, #ABFFEE 0%, #F7FFE0 100%);
    
    background-image: -moz-linear-gradient(top left, #ABFFEE 0%, #F7FFE0 100%);
    
    background-image: -o-linear-gradient(top left, #ABFFEE 0%, #F7FFE0 100%);
    
    background-image: -webkit-gradient(linear, left top, right bottom, color-stop(0, #ABFFEE), color-stop(100, #F7FFE0));
    
    background-image: -webkit-linear-gradient(top left, #ABFFEE 0%, #F7FFE0 100%);
    
    background-image: linear-gradient(to bottom right, #ABFFEE 0%, #F7FFE0 100%);
    display: flex;
    flex-direction: column;
    max-width: 100vw;
    overflow-x: hidden;

}
#usssocialicons {
    height: 8vh;
    padding-top: 2vh;
    align-self: flex-start;
}
#usssocialicons ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    padding-right: 1vw;
    overflow: hidden;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    width: 100vw;
    height: 80%;
}
#usssocialicons ul i {
    margin-right: .5vw;
}
#searchbar-nav {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    height: 9vh;
    padding-left: 10vw;
    
}
#searchbar-nav .input-group {
    width: 100%;
}

#usssearchbar {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    height: 37vh;
    width: 100vw;
    Font-Family: 'Cabin', Sans-Serif;
}
#usssearchbar .input-group {
    max-width: 50%;
}
#nav-switch{
    height: 9vh;
    display: flex;
    justify-content: center;
    align-items: center;
    
}
#nav-switch .btn-group button {
    color: black;
    width: 4vw;
    background-color: white;
    border: 1px solid black;
    font-size: 1vw !important;
    
}
#nav-switch .btn-group button:hover {
    color: #534D4D;
    background-color: #B7A4A4;
    border: 1px solid black;
}
#nav-switch .btn-group button a {
    text-decoration: none;
    font-weight: bold;
    color: #100D0D;
}
#ussfooter {
    height: 7vh;
    background-color: #918a84;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    -webkit-box-shadow: inset 0px 5px 28px -4px rgba(0,0,0,0.75);
    -moz-box-shadow: inset 0px 5px 28px -4px rgba(0,0,0,0.75);
    box-shadow: inset 0px 5px 28px -4px rgba(0,0,0,0.75);
    Font-Family: 'Roboto Condensed', Sans-Serif;
}
#profile-setting {
    display: flex;
    align-items: center;
    justify-content: center;
}
.footerlist {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    min-width: 65vw;
    font-size: 2vh;
}
.footerlist > li:last-child {
    display: flex;
    flex-direction: row;
    height: 60%;
    margin-top: 3px;
    
}
.tab-active {
    background-color: #7491E5 !important;
    color: #A77575 !important;
}
input:focus,
select:focus,
textarea:focus,
button:focus {
    outline: none !important;
}
#rsvp-modal {
    position: absolute;
    
}
.modal-dialog {
    min-width: 50vw;
    min-height: 50vh;
}
.rsvp-form-padding {
    padding-right: 5vw;
    padding-bottom: 2vh;
}
.rsvp-form-end-padding {
    padding-left: 5vw;
    padding-bottom: 2vh;
}
.modal-body {
    padding-left: 3em;
    padding-right: 3em;
}
.hvr-fade {
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px transparent;
    overflow: hidden;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-property: color, background-color;
    transition-property: color, background-color;
  }
  .hvr-fade:hover, .hvr-fade:focus, .hvr-fade:active {
    background-color: #93AFBC;
    color: white;
  }
  @-webkit-keyframes hvr-pulse {
    25% {
      -webkit-transform: scale(1.1);
      transform: scale(1.1);
    }
    75% {
      -webkit-transform: scale(0.9);
      transform: scale(0.9);
    }
  }
  @keyframes hvr-pulse {
    25% {
      -webkit-transform: scale(1.1);
      transform: scale(1.1);
    }
    75% {
      -webkit-transform: scale(0.9);
      transform: scale(0.9);
    }
  }
  .hvr-pulse {
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px transparent;
  }
  .hvr-pulse:hover, .hvr-pulse:focus, .hvr-pulse:active {
    -webkit-animation-name: hvr-pulse;
    animation-name: hvr-pulse;
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-timing-function: linear;
    animation-timing-function: linear;
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
  }
  #search-logo {
    margin-bottom: 12vh;color: #726B65;letter-spacing: 1px;
    text-shadow: 1px 1px 2px rgba(150, 150, 150, 1);font-weight: 700; color: white;
    font-size: 5vh;
    font-weight: 900;
    Font-Family: 'Roboto Condensed', Sans-Serif;
    
  }
  .nav-profile-txt {
      font-size: 1vw;
  }
  * {
    box-sizing: border-box;
  }
  .social-icon-size {
      font-size: 2vw;
  }
  .footer-link-color {
      color: white !important;
  }
  .bg-color {
    background-image: -ms-linear-gradient(top left, #D1FFFD 0%, #F7FFE0 100%);
    
    background-image: -moz-linear-gradient(top left, #D1FFFD 0%, #F7FFE0 100%);
    
    background-image: -o-linear-gradient(top left, #D1FFFD 0%, #F7FFE0 100%);
    
    background-image: -webkit-gradient(linear, left top, right bottom, color-stop(0, #D1FFFD), color-stop(100, #F7FFE0));
    
    background-image: -webkit-linear-gradient(top left, #D1FFFD 0%, #F7FFE0 100%);
    
    background-image: linear-gradient(to bottom right, #D1FFFD 0%, #F7FFE0 100%);
  }
 


